@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div ng-app="MyApp" ng-controller="myContextController">
        <div>
            Hey this is outside context
        </div>
        <div context-menu="myContextDiv">
           
        </div>
    </div>
</div>
